@model IEnumerable<AgiliWebMvc.Models.Restaurantes>
@{
    ViewData["Title"] = "FindRestaurantes";
}

<h2>Lista Restaurantes</h2>


<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.nome_rest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cnpj_rest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone_rest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco_rest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha_rest)
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome_rest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cnpj_rest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone_rest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endereco_rest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.senha_rest)
                </td>
                <td>
                    <a asp-action="EditRestaurante" asp-route-id="@item.id">Edit</a>
                    <a asp-action="DeletarRestaurante" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index">Voltar</a>
